.landing {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: right;
  	font-size: 48px;
  	color: #000;
  	font-family: Inder;
}
.image-1-icon {
  	position: absolute;
  	top: 512px;
  	left: -113px;
  	width: 875.3px;
  	height: 792.2px;
  	object-fit: contain;
  	flex-shrink: 0;
}
.image-3-icon {
  	position: absolute;
  	top: 98px;
  	left: -116px;
  	width: 882.9px;
  	height: 810.1px;
  	object-fit: contain;
  	flex-shrink: 0;
}
.image-3-icon-parent {
  	position: absolute;
  	top: 88px;
  	left: 757px;
  	width: 602px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	gap: 10px;
  	flex-shrink: 0;
}
.image-2-icon-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.to-smooth-your {
  	width: 562px;
  	height: 220px;
  	position: relative;
  	white-space: pre-wrap;
  	display: inline-block;
  	flex-shrink: 0;
}
.button-icon {
  	width: 510.1px;
  	height: 52.6px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 12px;
  	object-fit: contain;
}

